@using UMS.Models;
@model IEnumerable<SysUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";

    List<PermModel> perm = (List<PermModel>)ViewBag.Perm;
    if (perm == null)
    {
        perm = new List<PermModel>();
    }
}

 
<div class="mvctool">
    <input id="txtQuery" type="text" class="searchText" />
    @Html.ToolButton("btnQuery", "icon-search", "查询", perm, "Query",true)
    @Html.ToolButton("btnCreate", "icon-add", "新增", perm, "Create", true)
    @Html.ToolButton("btnEdit", "icon-edit", "编辑", perm, "Edit", true)
    @Html.ToolButton("btnDetails", "icon-details", "详细", perm, "Details", true)
    @Html.ToolButton("btnDelete", "icon-remove", "删除", perm, "Delete", true)
    @Html.ToolButton("btnAllot", "icon-share", "分配用户", perm, "Allot",false)
    

</div>
<div id="modalwindow" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
<table id="List"></table>

<script src="@Url.Content("~/Content/Js/Role/Role.js")" type="text/javascript"></script>
<script type="text/javascript">
    
</script>

@Html.Partial("~/Views/Shared/_Partial_AutoGrid.cshtml")