<!DOCTYPE html>
<html>
<head>
    <title>Index</title>

    @Scripts.Render("~/bundles/jquery") 
    @Scripts.Render("~/Scripts/jquery.easyui.min.js")
    @Scripts.Render("~/bundles/easyuiplus")
    @Scripts.Render("~/bundles/common") 
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/blue/css")
</head>
<body>
    <div style="padding:5px 5px 0px 5px;">
        @RenderBody()
    </div>
</body>
</html>